:root {
  --s-xs: 0.8rem;
  --s-sm: 1.2rem;
  --s-md: 2rem;
  --s-lg: 3.2rem;
  --s-xl: 5.2rem;

  /* Colors taken from https://coolors.co/2b303a-92dce5-eee5e9-7c7c7c-6cbf6b */
  --color-primary: #6CBF6B;
  --color-secondary: #92DCE5;

  --color-generic-white: #FFF;
  --color-generic-gray-light: #BEBEBE;
  --color-generic-gray: #7C7C7C;
  --color-generic-black: #000;

  --color-generic-foreground: #2B303A;
  --color-generic-background: #EEE5E9;

  --border-radius-sm: 0.8rem;
  --border-radius: 1.2rem;
  --border-radius-lg: 2rem;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-generic-background);
  color: var(--color-generic-foreground);
  font-size: 10px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
}

body,
#root {
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
}

button,
input,
select {
  line-height: 1;
  border: 0;
  padding: 0;
}

input,
button {
  font: inherit;
}
